.App {
  text-align: center;
}



.container {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #393E46;
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #5d829f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;

}

/* Add a color to the active/current link */
.topnav a.active {
  color: #2976a0;
  text-shadow: 3px 3px 2px #092534;
}

.home-tab {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.home-tab:hover {
  color: black;
  cursor: pointer;
}

.other-tab:hover {
  background-color: #2b2e34;
  color: white;
  cursor: pointer;
}

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #212121 !important;
  height: 40px;
  color: white
}

.table-header {
  font-weight: bold;
  margin-top: 5px;
  user-select: none;
}

.row-container {
  display: flex;
  margin: 5px 10px 5px 10px;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  transition: all .3s;
  
}

.table-row:hover {
  background-color: #2b2e34;
  color: white;
  cursor: pointer;
  transform: scale(1.005);


}

.table-cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
}
.cell-description {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
  text-align: left;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.cve-title{
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-cell-outer-right {
  border-radius: 0 10px 10px 0;
}

.table-cell-outer-left {

  border-radius: 10px 0 0 10px;
  
}


.table-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #5d829f;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  width: 100%;
}

.parent-container {
  display: flex;
}

#index_terminalContainer__4seT6 {
  width: 100%;
}

/*modal title */
h2#swal2-title {
  font-size: 1.5rem;

}

.home-para {
  width: 30%;
  justify-content: center;
}

.page-turner {
  font-size: 20px;
}

.search-bar {
   border-radius: 10px;
   margin-right:5px; 
   border: none;
   text-shadow: none;
   background-color:#919191;
   height: 25px;
   color: #212121;
   font-weight: bold;
}

.search-bar:focus {
  outline: none;
  caret-color: white;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 25%;
  width: 20px;
}

.dropdown-area {
  position: relative;
  display: flex;
  color: #5d829f;
  background-color: #222831;
  z-index: 1;
  height: 35%;
  border: 1px solid black;
  border-top: none;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
}

.cve-dropdown-area {
  color: #5d829f;
  text-align: left;
  margin: 0 10px 10px 10px;
}